{% extends 'main.html' %}
{% load static %}

{% block title %} 
Camera 1 - CCTV Monitor
{% endblock title %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Lantai 1</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item">Lantai 1</li>
          <li class="breadcrumb-item active">lorem ipsum</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card overflow-auto">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mb-5 mt-4" style="min-width: 720px;">
                           <div class="vid text-center">
                             <!-- <img class="rounded-3 img-fluid" src="https://placehold.jp/650x400.png" alt=""> -->
                             <video src="{% static 'assets/img/testvid.mp4' %}" class="rounded-3 img-fluid" style="width: 650px; height: auto;"  controls allowfullscreen controlsList="nodownload" alt=""></video>
                             <h3 class="text-start ms-5 ps-1 my-4 fs-4 fw-semibold">Lorem ipsum</h3>
                           </div>
                         </div>

                        <div class="col mt-4" style="min-width: 320px;">
                           <div class="row">
                             
                             <div class="col-md-3 mx-1 my-2 mx-auto" style="width: 280px;">
                               <a href="" class="mx-auto thumbnail" style="width: 16rem;">
                                 <img class="rounded-3" src="https://placehold.jp/250x160.png" alt="">
                                 <img class="play-btn" src="https://www.wonderplugin.com/download/playbutton.png" alt="">
                               </a>
                               <p class="ms-1 mt-2 fw-semibold fs-5">Lorem ipsum</p>
                             </div>
                             
                             <div class="col-md-3 mx-1 my-2 mx-auto" style="width: 280px;">
                               <a href="" class="mx-auto thumbnail" style="width: 16rem;">
                                 <img class="rounded-3" src="https://placehold.jp/250x160.png" alt="">
                                 <img class="play-btn" src="https://www.wonderplugin.com/download/playbutton.png" alt="">
                               </a>
                               <p class="ms-1 mt-2 fw-semibold fs-5">Lorem ipsum</p>
                             </div>
                             
                             <div class="col-md-3 mx-1 my-2 mx-auto" style="width: 280px;">
                               <a href="" class="mx-auto thumbnail" style="width: 16rem;">
                                 <img class="rounded-3" src="https://placehold.jp/250x160.png" alt="">
                                 <img class="play-btn" src="https://www.wonderplugin.com/download/playbutton.png" alt="">
                               </a>
                               <p class="ms-1 mt-2 fw-semibold fs-5">Lorem ipsum</p>
                             </div>
                             
                             <div class="col-md-3 mx-1 my-2 mx-auto" style="width: 280px;">
                               <a href="" class="mx-auto thumbnail" style="width: 16rem;">
                                 <img class="rounded-3" src="https://placehold.jp/250x160.png" alt="">
                                 <img class="play-btn" src="https://www.wonderplugin.com/download/playbutton.png" alt="">
                               </a>
                               <p class="ms-1 mt-2 fw-semibold fs-5">Lorem ipsum</p>
                             </div>
                             
                             <div class="col-md-3 mx-1 my-2 mx-auto" style="width: 280px;">
                               <a href="" class="mx-auto thumbnail" style="width: 16rem;">
                                 <img class="rounded-3" src="https://placehold.jp/250x160.png" alt="">
                                 <img class="play-btn" src="https://www.wonderplugin.com/download/playbutton.png" alt="">
                               </a>
                               <p class="ms-1 mt-2 fw-semibold fs-5">Lorem ipsum</p>
                             </div>
                             
                           </div>
                         </div>
                 
                      </div>
                </div>
              </div>
            </div><!-- End Recent Sales -->
      </div>
    </section>

  </main><!-- End #main -->
{% endblock content %}