{% extends 'main.html' %}
{% load static %}

{% block title %} 
Home - CCTV Monitor
{% endblock title %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>{{ floor.name }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{ floor.name }}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card overflow-auto">
                <div class="container">
                    <div class="row">
                      {% for camera in cameras %}
                        <div class="col-md-3 mx-1 my-3" style="width: 280px;">
                            <a href="{% url 'cctv' floor.id camera.id %}" class="mx-auto thumbnail" style="width: 16rem;">
                                    <img class="rounded-3 vid-thumbnail" src="{% url 'show_thumbnail' camera.id %}" alt="">
                                    <img class="play-btn" src="https://www.wonderplugin.com/download/playbutton.png" alt="">
                            </a>
                            <p class="ms-1 mt-2 fw-semibold fs-5">{{ camera.name }}</p>
                        </div>
                      {% endfor %}          
                    </div>
                    
                </div>
              </div>
            </div><!-- End Recent Sales -->
      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}